@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 20vw;
    padding: 1rem;
    height: 100%;
    color:aliceblue;
    background-color: aqua;
}

.navIcon {
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 50%;
}

.navIcon:hover {
    background-color: #FF19C2;
    cursor: pointer;
}

.navTitle {
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-top: 5px;
}

.navInner .categorias {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #282c34;
    color: #ffffff;
    width: 20vw;
}

.menuLink {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

.wrapperNavbar {
    display: flex;
    flex-direction: row;
    width: 500px;
}
